<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg container fixed">
        <div class="container-fluid nav100">
            
            <a class="navbar-brand" href="index.html">
                <img src="./img/logo-chico.png" alt="Logo de frutilla" class="logoSize img-fluid">
            </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon iconoMenu"></span>
          </button>

            <div class="collapse navbar-collapse" id="navbarNav">
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="index.html#acercaDeMi">Acerca de mi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#skills"><span lang="en">Skills</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#proyectos">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#contacto">Contacto</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link botonCurriculum" href="./cv/curriculum_vitae.pdf">Curriculum</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </nav>

    <main class="container">
        <section class=" mt-5 p-2 pt-5">
            <div class="lineaVertical m-lg-5 pb-lg-3 mt-3">
                <h1>Portafolio</h1>
                <p class="fs-2 nombrePortada ">Agustina Victoria <span class="fs-1 apellidoPortada d-block">Lopez</span> </p>
                <p class="descripcionPortada">Estudiante de Diseño y Desarrollo Web</p>
            </div>
        </section>
        
        <section class="mt-5 p-2 rowAcercaDeMi">
            <div class=" row rowAcercaDeMi">
            <img src="./img/img-home.jpg" alt="Imagen de Agustina Lopez" class="img-fluid col-lg-4">
            <div class="mt-4 col-lg-6">
                <h2 id="acercaDeMi" class="">Acerca de mi</h2>
                <p>¡Hola! Soy Agustina Lopez, estudiante de Diseño y Desarrollo Web en la Escuela Da Vinci.</p>
                <p>En esta escuela aprendí desarrollo front-end y diseño UX/UI.</p>
                <p>Disfruto mucho desempeñarme tanto en el área del diseño como en el desarrollo web y mi objetivo es continuar especializandome en ellas. </p>
            </div>
        </div>
        </section>

        <section class="mt-4 p-2 container">
            
            <h2 id="skills"> <span lang="en">Skills</span></h2>

            <div class="mt-3">
                <h3><span lang="en">Hard</span></h3>
                <div>
                    <ul class="d-flex flex-wrap p-0 justify-content-center p-lg-4">
                        <li class="m-2 p-2 p-lg-3 liSkillsHard">Html & Css</li>
                        <li class="m-2 p-2 p-lg-3 liSkillsHard">Vue.js</li>
                        <li class="m-2 p-2 p-lg-3 liSkillsHard">Javascript</li>
                        <li class="m-2 p-2 p-lg-3 liSkillsHard">Bootstrap</li>
                        <li class="m-2 p-2 p-lg-3 liSkillsHard">Git y Github</li>
                        <li class="m-2 p-2 p-lg-3 liSkillsHard">Figma</li>
                        <li class="m-2 p-2 p-lg-3 liSkillsHard"><span lang="en">Wireframing</span></li>
                        <li class="m-2 p-2 p-lg-3 liSkillsHard">Creación de prototipos</li>
                        <li class="m-2 p-2 p-lg-3 liSkillsHard">Diseño UX/UI</li>
                        <li class="m-2 p-2 p-lg-3 liSkillsHard">Sistemas de diseño</li>
                        <li class="m-2 p-2 p-lg-3 liSkillsHard">Adobe Photoshop</li>
                        <li class="m-2 p-2 p-lg-3 liSkillsHard">Adobe Illustrator</li>
                    </ul>
                </div>
            </div>
            <div class="rowSkills row space-around">
            <div class="mt-4 col-md-6 p-2">
                <h3 class="mb-2 skillsSoftH3"><span lang="en">Soft</span></h3>
                <div>
                    <ul class="p-0">
                        <div class="d-md-flex">
                            <li class="p-md-2 mb-1 pb-1 liSkillsSoft">Autodidacta</li>
                            <li class="p-md-2 mb-1 pb-1 liSkillsSoft"><span lang="en">Reflexiva</span></li>
                        </div>
                        <div class="d-md-flex">
                        <li class="p-md-2 mb-1 pb-1 liSkillsSoft">Trabajo en equipo</li>
                        <li class="p-md-2 mb-1 pb-1 liSkillsSoft">Flexible</li> 
                        </div>                       
                    </ul>
                </div>
            </div>
            
            <div class="mt-4 col-md-4 p-2">
                <h3 class="skillsIdiomaH3 mb-3"><span lang="en">Idiomas</span></h3>
                <p class="p-md-2 mb-1 pb-1 skillsIdiomaP">Inglés <span class="skillsIdiomaSpan">Avanzado</span></p>
                <p class="p-md-2 mb-1 pb-1 skillsIdiomaP">Español <span class="skillsIdiomaSpan">Nativo</span></p>
            </div>
            </div>
        </section>
        
        <section class="mt-4 pt-lg-5">
            
            <h2 class="mb-3" id="proyectos">Proyectos</h2>
            <!-- CARDS DE PROYECTOS -->

            <div class="d-flex flex-wrap justify-content-center" id="contenedorCards">
            
                <div v-if="item.enable" v-for="item in imagenes" class="card colorCard p-2 mb-3 m-sm-1 m-lg-3 rounded-0 mx-auto" style="max-width: 20rem;">
                    <div class="cajaImagenCard rounded-1 aCard">
                        <a class="aCard" :href="item.href">
                            <img :src="item.src" class="card-img-top shadow img-fluid rounded-1 aCard" :alt= "item.titulo">
                        </a>
                    </div>

                    <div class="card-body">
                        <h3 class="h3Card">{{item.titulo}}</h3>
                        <div class="spanSubCard d-flex flex-wrap justify-content-center">
                            <span class=" m-2 ">{{item.sub}}</span>
                        </div>
                    </div>
                </div>

            </div>

        </section>

    </main>
        <footer>
            <section class="mt-4 p-3 bgFooter">
            <h2 class="h2Footer mb-3" id="contacto">Contacto</h2>
            <p class="pFooter">Si crees que mi trabajo se adapta a lo que estas buscando, ¡contactame!</p>
            <ul class="p-0 d-flex flex-wrap justify-content-center">
                <li class="m-2"><a href="https://github.com/agusvlopez"><img src="./img/github.png" alt="Icono de Github" class="img-fluid iconoFooter m-2"></a></li>
                <li class="m-2"><a href="https://www.linkedin.com/in/agustina-lopez-3709a4170/"><img src="./img/linkedin.png" alt="Icono de linkedin" class="img-fluid iconoFooter m-2"></a></li>
                <li class="m-2 p-0"><a href="https://www.figma.com/@agustinalopez"><img src="./img/figma.png" alt="Icono de linkedin" class="img-fluid iconoFooter m-2"></a></li>
           </ul>
           <p class="pFooter">E-mail: agusvlopez@gmail.com</p>
           
            </section>
        </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="./js.js/js.js"></script>
    
</body>
</html>